@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
    url("../fonts/raleway/raleway-800.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik/rubik-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
    url("../fonts/rubik/rubik-700.woff") format("woff");
  font-display: swap;
}

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #DCDCDC;
  --basic-light-gray: #EBEBEB;
  --basic-light: #F0F0F0;
  --basic-white: #FFFFFF;
  --special-yellow-light: #FFE17F;
  --special-yellow-dark: #FFC700;
  --special-purple: #AF4FFF;
  --status-error: #FF3D3D;
  --status-warning: #FD912E;
  --status-success: #08AF00;

  --font-rubik: "Rubik", "Arial", sans-serif;
  --font-raleway: "Raleway", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-rubik);
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: -1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  margin: 0;

  font-family: var(--font-raleway);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-raleway);
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.button-light {
  padding: 18px 39px;
  border: 3px solid #E5E5E5;
  background-color: transparent;
}

.button-light:hover {
  border-color: var(--basic-black);
}

.button-light:active {
  border-color: var(--basic-black);
  opacity: 0.3;
}

.button-light:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-light:disabled {
  opacity: 0.3;
}

.button-dark {
  border: 3px solid #C4C4C4;
}

.button-dark:hover {
  border-color: var(--basic-black);
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.button-dark:active {
  border-color: var(--basic-black);
  background-color: var(--basic-black);
  color: rgba(255, 255, 255, 0.3);
}

.button-dark:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-dark:disabled {
  opacity: 0.3;
  background-color: transparent;
  cursor: auto;
  color: var(--basic-black);
}

.button-stroke {
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.button-stroke::before {
  content: "";
  display: flex;
  background-color: var(--special-yellow-light);
  width: 100%;
  height: 8px;
  position: absolute;
  z-index: -1;
}

.button-stroke:hover::before,
.button-stroke:active::before {
  display: none;
}

.button-stroke:hover {
  background-color: var(--special-yellow-light);
}

.button-stroke:active {
  background-color: var(--special-yellow-dark);
}

.button-stroke:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-stroke:disabled {
  opacity: 0.3;
}

/* HEADER */
.header-container {
  padding: 20px 60px;
  background-image: linear-gradient(transparent 40px, var(--special-yellow-light) 40px, var(--special-yellow-light) 100%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-logo {
  width: 145px;
  height: 36px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.header-user-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  align-items: center;
  gap: 26px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  justify-content: end;
}

.header-search {
  display: flex;
  width: 517px;
}

.search-label {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-input,
.search-submit {
  font-size: 16px;
  line-height: 20px;
  display: block;
  color: var(--basic-black);
  height: 100%;
  width: 100%;
}

.search-submit {
  font-family: var(--font-rubik);
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  border: 2px solid var(--basic-black);
  border-radius: 0 50px 50px 0;
  border-left: none;
  background-color: transparent;
  padding: 9px;
}

.search-input {
  width: 359px;
  border: 2px solid var(--basic-black);
  border-radius: 50px 0 0 50px;
  padding: 10px 16px 9px 48px;
  background-color: transparent;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.search-input:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.search-input:disabled {
  opacity: 0.3;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-link {
  color: var(--basic-black);
  text-decoration: none;
  display: block;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.user-link-login {
  margin-right: 28px;
  padding-left: 27px;
  background-image: url("../images/header/user.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.user-link-logout {
  color: rgba(0, 0, 0, 0.3);
}

.user-link-compare {
  padding-left: 22px;
  background-image: url("../images/header/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-link-cart {
  margin-left: 32px;
  padding-left: 28px;
  background-image: url("../images/header/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
  position: relative;
  cursor: pointer;
}

.user-link-num {
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  left: -15px;
  top: 5px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.user-item:nth-last-child(2) {
  margin-left: auto;
}

.navigation-link {
  font-family: var(--font-raleway);
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.navigation-link-active {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--basic-black);
}

.navigation-link:hover,
.submenu-link:hover {
  opacity: 0.6;
}

.navigation-link:active,
.submenu-link:active {
  opacity: 0.3;
}

.navigation-link:focus,
.submenu-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.navigation-item-catalog {
  margin-right: auto;
  position: relative;
}

.navigation-link-catalog {
  display: flex;
  align-items: center;
  height: 50px;
  width: 293px;
  position: relative;
}

.navigation-link-catalog:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.navigation-item-catalog span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--basic-black);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 243px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-item-catalog:hover span,
.navigation-item-catalog:active span {
  opacity: 1;
}

.navigation-link-catalog span::after {
  content: "";
  display: flex;
  width: 16px;
  height: 2px;
  background-color: var(--basic-black);
}

.navigation-link-catalog span::before {
  content: "";
  display: flex;
  width: 2px;
  height: 16px;
  background-color: var(--basic-black);
  position: absolute;
}

.submenu {
  display: none;
}

.submenu-list {
  width: 211px;
}

.submenu-list:first-child {
  width: 222px;
}

.navigation-item-catalog-active,
.navigation-link-catalog:hover + .submenu {
  position: absolute;
  z-index: 1;
  width: 1160px;
  display: flex;
  gap: 30px;
  margin-left: -60px;

  padding: 22px 0 21px 60px;
  background-color: var(--special-yellow-light);
}

.navigation-link-catalog:hover span::before {
  display: none;
}

.submenu-link {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/* MAIN */
main {
  flex-grow: 1;
}

/* SLIDER */
.slider-container {
  background-image: linear-gradient(var(--special-yellow-light) 133px, transparent 133px);
  position: relative;
  margin-top: -20px;
  margin-bottom: 70px;
}

.slider-content::before {
  content: "01";
  display: block;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
  color: var(--basic-white);
  z-index: -1;
  margin-top: 64px;
  margin-right: 49px;
}

.slider-title {
  margin-top: 10px;
  margin-bottom: 29px;
}

.slider-text {
  margin: 0;
  margin-bottom: 50px;
}

.slider-button {
  margin-bottom: 50px;
  width: 220px;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.slider-arrows {
  width: 530px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 211px;
  left: 30px;
}

.slider-arrow {
  background-image: url("../images/slider/slider-arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  display: block;
  width: 20px;
  height: 60px;
  cursor: pointer;
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-arrow:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.slider-arrow:disabled {
  opacity: 0.1;
  cursor: auto;
}

.slider-bullets {
  margin-top: -56px;
}

.bullets-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.bullets-link-active {
  background-color: var(--basic-black);
}

.bullets-link:hover {
  opacity: 0.6;
}

.bullets-link:active {
  opacity: 0.3;
}

.bullets-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.bullets-link:disabled {
  opacity: 0.1;
  background-color: transparent;
  cursor: auto;
}

.bullets-link-active:disabled {
  border: none;
}

.slider-arrow-next {
  transform: rotateY(180deg);
}

.slider-params {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-bottom: 26px;
}

.slider-params-item {
  display: flex;
  flex-direction: column-reverse;
}

.slider-value {
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

.slider-key {
  font-size: 16px;
}

/* CATEGORIES */
.categories-container {
  margin-bottom: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categories-link {
  font-family: var(--font-raleway);
  font-weight: 800;
  letter-spacing: -0.36px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-black);

  position: relative;
  display: block;
  padding-top: 192px;
  min-height: 253px;
}

.categories-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
  background-repeat: no-repeat;
  background-size: 160px 160px;
}

.categories-link:hover::before {
  background-color: var(--special-yellow-dark);
}

.categories-link:active {
  opacity: 0.3;
}

.categories-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.categories-link-vr::before {
  background-image: url("../images/categories/categories-vr.svg");
}

.categories-link-monopodes::before {
  background-image: url("../images/categories/categories-monopode.svg");
}

.categories-link-cameras::before {
  background-image: url("../images/categories/categories-camera.svg");
}

.categories-link-bracelets::before {
  background-image: url("../images/categories/categories-fitness-bracelets.svg");
}

.categories-link-smartwatches::before {
  background-image: url("../images/categories/categories-smartwatch.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/categories/categories-quadrocopters.svg");
}

/* SERVICES */
.services {
  background-image: linear-gradient(transparent 102px, var(--basic-light) 102px, var(--basic-light) 100%);
}

.services-container {
  display: grid;
  grid-template-columns: 287px 1fr;
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.services-tabs {
  padding: 64px 0 65px 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
  border-right: 7px solid var(--basic-black);
}

.services-tab-link-active {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
  border: none;
  padding: 9px 0 10px 0;
}

.services-tab-item-active {
  background-color: var(--basic-black);
}

.services-tab-link {
  width: 160px;
}

.services-content-item {
  display: none;
}

.services-content-item-active {
  display: block;
  padding: 73px 0 73px 116px;
  background-repeat: no-repeat;
  background-position:674px 50%;
}

.services-content-item-delivery {
  background-image: url("../images/services-delivery.svg");
}

.services-content-item-guarantee {
  background-image: url("../images/services-guarantee.svg");
}

.services-content-item-credit {
  background-image: url("../images/services-credit.svg");
}

.services-title {
  margin-bottom: 34px;
}

.services-text {
  max-width: 480px;
  margin: 0;
}

/* DELIVERY */
.delivery {
  margin-bottom: 68px;
}

.delivery-link {
  font-family: var(--font-raleway);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-light);

  position: relative;
  display: block;
  width: 100%;
  padding: 39px 0;
  margin: 0 auto;
}

.delivery-link::before {
  content: "";
  display: flex;
  width: 125px;
  height: 100%;
  background-color: var(--special-yellow-light);
  background-image: url("../images/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.delivery-link::after {
  content: "";
  display: flex;
  width: 125px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  right: 0;
  top: 0;
}

.delivery-link span {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.50);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 43px;
  top: 29px;
}

/* ABOUT */
.about-company-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 95px;
  margin-bottom: 68px;
}

.about,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-title::before,
.contacts-title::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: var(--basic-black);
  margin-bottom: 40px;
}

.about-title,
.contacts-title {
  margin-bottom: 18px;
}

.about-description,
.contacts-description {
  margin: 0;
  max-width: 500px;
}

.about-description {
  color: var(--basic-dark);
}

.address-title {
  margin-bottom: 15px;
  letter-spacing: 0.36px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.about-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-left: 37px;
  position: relative;
}

.about-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  position: absolute;
  left: 4px;
  top: 5px;
}

.about-button {
  width: 270px;
}

/* CONTACTS */
.contacts-description {
  color: var(--basic-dark);
}

.contacts-info {
  font-style: normal;
}

.address-title,
.contacts-worktime-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-dark);
}

.contacts-worktime-title {
  margin-bottom: 15px;
}

.address-description,
.contacts-worktime-description {
  color: var(--basic-dark);
  margin: 0;
}

.address-phone {
  color: var(--basic-dark);
}

.contacts-button {
  width: 260px;
}

/* SUBSCRIBE */
.subscribe {
  background-color: var(--basic-light);
  padding: 64px 0 56px 0;
}

.subscribe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 144px 50px;
}

.subscribe-title {
  grid-area: 1 / 1 / 2 / 2;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: 2 / 1 / 3 / 4;
  max-width: 810px;
}

.subscribe-description {
  color: var(--basic-dark);
  grid-area: 1 / 3 / 2 / 5;
}

.subscribe-input {
  color: var(--basic-dark);
  width: 557px;
}

.subscribe-input::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.subscribe-submit {
  width: 253px;
}

.subscribe-hint {
  color: var(--basic-dark);
  grid-area: 2 / 4 / 3 / 5;
}

/* CATALOG */
.catalog {
  background-color: var(--basic-light);
}

.catalog-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* CATALOG-HEADER */
.catalog-header {
  padding: 35px 0;
}

.catalog-header-container {
  padding: 0 60px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

/* FILTER */
.filter {
  padding: 25px 60px;
}

.filter-title,
.sort-title {
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.range-value {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-label-text {
  font-size: 16px;
  line-height: 20px;
}

/* SORTING */
.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 141px;
}

/* CATALOG-PRODUCTS */
.catalog-products {
  background-color: var(--basic-white);
  padding: 70px 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
}

.catalog-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--basic-black);
}

.catalog-description {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.catalog-link {
  display: block;
  text-decoration: none;
}

.catalog-price {
  line-height: normal;
  color: var(--basic-dark);
}

.catalog-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-image {
  position: relative;
}

.catalog-image-button {
  position: absolute;
  display: none;
}

/* PAGINATION */
.pagination {
  background-color: var(--basic-light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  opacity: 0.3;
  color: var(--basic-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}

.pagination-link-current {
  opacity: 0.6;
}

.pagination-button {
  font-family: var(--font-raleway);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 1;
}

.pagination-button-disabled {
  opacity: 0.3;
}

/* FOOTER */
.footer {
  background-color: var(--basic-dark);
  padding: 62px 0;
}

.footer-logo {
  width: 145px;
  height: 36px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.footer-content {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  gap: 50px 20px;
  align-items: baseline;
}

.footer-contacts {
  text-align: right;
}

.footer-address-description {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}

.footer-navigation-list {
  justify-content: center;
}

.footer .navigation-link {
  color: var(--basic-white);
}

.footer-contact-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}
