@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #DCDCDC;
  --basic-light-gray: #EBEBEB;
  --basic-light: #F0F0F0;
  --basic-white: #FFFFFF;
  --special-yellow-light: #FFE17F;
  --special-yellow-dark: #FFC700;
  --special-purple: #AF4FFF;
  --status-error: #FF3D3D;
  --status-warning: #FD912E;
  --status-success: #08AF00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: -1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1160px;
  margin: auto;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

.title {
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.button {
  display: block;
  font-family: "Raleway", Arial,  sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
}

.header-user-container {
  display: flex;
}

.navigation-list {
  display: flex;
  gap: 45px;
}

.header-search {
  display: flex;
  width: 517px;

  margin-right: auto;
}

.search-input,
.search-submit {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.search-submit {
  font-family: "Rubik", Arial,  sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  width: 160px;
}

.search-input {
  width: 359px;
}

.search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-list {
  display: flex;
}

.user-link {
  color: var(--basic-black);
  text-decoration: none;
  text-align: left;
  display: block;
}

.user-link-login {
  width: 231px;
}

.navigation-link {
  font-family: "Raleway", Arial,  sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.navigation-item-catalog {
  margin-right: 276px;
  width: 293px;
}

.submenu-link {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/* MAIN */
main {
  flex-grow: 1;
}

/* SLIDER */
.slider-value {
  font-size: 36px;
}

.slider-key {
  font-size: 16px;
}

/* CATEGORIES */
.categories-link {
  font-family: "Raleway", Arial,  sans-serif;
  font-weight: 800;
  letter-spacing: -0.36px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-black);

  position: relative;
  display: block;
}

.categories-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
  background-repeat: no-repeat;
  background-size: 160px 160px;
}

.categories-link-vr::before {
  background-image: url("../images/index/categories/categories-vr.svg");
}

.categories-link-monopodes::before {
  background-image: url("../images/index/categories/categories-monopode.svg");
}

.categories-link-cameras::before {
  background-image: url("../images/index/categories/categories-camera.svg");
}

.categories-link-bracelets::before {
  background-image: url("../images/index/categories/categories-fitness-bracelets.svg");
}

.categories-link-smartwatches::before {
  background-image: url("../images/index/categories/categories-smartwatch.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/index/categories/categories-quadrocopters.svg");
}

/* SERVICES */
.services-tab-link-active {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
}

.services-tab-item-active {
  background-color: var(--basic-black);
}

/* DELIVERY */
.delivery-link {
  font-family: "Raleway", Arial,  sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-light);

  position: relative;
}

/* ABOUT */
.about-description {
  color: var(--basic-dark);
}

.about-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

/* CONTACTS */
.contacts-description {
  color: var(--basic-dark);
}

.contacts-info {
  font-style: normal;
}

.address-title,
.contacts-worktime-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-dark);
}

.address-description,
.contacts-worktime-description {
  color: var(--basic-dark);
}

.address-phone {
  color: var(--basic-dark);
}

/* SUBSCRIBE */
.subscribe {
  background-color: var(--basic-light);
}

.subscribe-description {
  color: var(--basic-dark);
}

.subscribe-input {
  color: var(--basic-dark);
}

.subscribe-input::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.subscribe-hint {
  color: var(--basic-dark);
}

/* CATALOG */

/* CATALOG-HEADER */
.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

/* FILTER */
.filter-title,
.sort-title {
  font-family: "Raleway", Arial,  sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.range-value {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
}

/* SORTING */
.sort-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

/* CATALOG-PRODUCTS */
.catalog-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--basic-black);
}

.catalog-link {
  text-decoration: none;
}

.catalog-price {
  line-height: normal;
  color: var(--basic-dark);
}

/* PAGINATION */
.pagination {
  background-color: var(--basic-light-gray);
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  opacity: 0.3;
  color: var(--basic-dark);
}

.pagination-link-current {
  opacity: 0.6;
}

.pagination-button {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  opacity: 1;
}

.pagination-button-disabled {
  opacity: 0.3;
}

/* FOOTER */
.footer {
  background-color: var(--basic-dark);
}

.footer-address-description {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}

.footer .navigation-link {
  color: var(--basic-white);
}

.footer-contact-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}
