@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
    url("../fonts/raleway/raleway-800.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik/rubik-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
    url("../fonts/rubik/rubik-700.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-light: #f0f0f0;
  --basic-light-gray: #ebebeb;
  --basic-white: #ffffff;
  --font-raleway: "Raleway", "Arial", sans-serif;
  --font-rubik: "Rubik", "Arial", sans-serif;
  --special-purple: #af4fff;
  --special-yellow-dark: #ffc700;
  --special-yellow-light: #ffe17f;
  --status-error: #ff3d3d;
  --status-success: #08af00;
  --status-warning: #fd912e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--font-rubik);
  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.title {
  margin: 0;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: var(--font-raleway);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--font-raleway);
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;

  cursor: pointer;
}

.button-light {
  padding: 18px 39px 14px 42px;

  background-color: transparent;
  border: 3px solid #e5e5e5;
}

.button-light:hover {
  border-color: var(--basic-black);
}

.button-light:active {
  border-color: var(--basic-black);
  opacity: 0.3;
}

.button-light:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-light:disabled {
  opacity: 0.3;
}

.button-dark {
  border: 3px solid #c4c4c4;
}

.button-dark:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.button-dark:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--basic-black);
  border-color: var(--basic-black);
}

.button-dark:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-dark:disabled {
  color: var(--basic-black);

  background-color: transparent;
  cursor: auto;
  opacity: 0.3;
}

.button-stroke {
  position: relative;
  z-index: 1;

  padding: 10px 5px 10px 9px;

  background-color: transparent;
  border: none;
}

.button-stroke::before {
  content: "";
  position: absolute;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 8px;

  background-color: var(--special-yellow-light);
}

.button-stroke:hover::before,
.button-stroke:active::before {
  display: none;
}

.button-stroke:hover {
  background-color: var(--special-yellow-light);
}

.button-stroke:active {
  background-color: var(--special-yellow-dark);
}

.button-stroke:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.button-stroke:disabled {
  opacity: 0.3;
}

/* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;

  background-image: linear-gradient(
    transparent 40px,
    var(--special-yellow-light) 40px,
    var(--special-yellow-light) 100%
  );

  gap: 30px;
}

.header-logo {
  width: 145px;
  height: 36px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.header-user-container {
  display: grid;
  align-items: center;

  gap: 26px;
  grid-template-columns: 517px 1fr;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;

  gap: 45px;
}

.header-search {
  display: flex;
  width: 517px;
}

.search-label {
  position: relative;

  width: 100%;
  height: 100%;
}

.search-input,
.search-submit {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.search-submit {
  padding: 9px;

  font-weight: normal;
  font-family: var(--font-rubik);
  text-transform: none;
  letter-spacing: 0;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-left: none;
  border-radius: 0 50px 50px 0;
}

.search-input {
  width: 359px;
  padding: 10px 16px 9px 48px;

  background-color: transparent;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  border: 2px solid var(--basic-black);
  border-radius: 50px 0 0 50px;
}

.search-input::placeholder {
  color: var(--basic-black);

  opacity: 0.3;
}

.search-input:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.search-input:disabled {
  opacity: 0.3;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-link {
  display: block;

  color: var(--basic-black);
  text-decoration: none;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.user-link-login {
  margin-right: 28px;
  padding-left: 27px;

  background-image: url("../images/header/user.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.user-link-logout {
  color: rgba(0, 0, 0, 0.3);
}

.user-link-compare {
  padding-left: 22px;

  background-image: url("../images/header/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-link-cart {
  position: relative;

  margin-left: 32px;
  padding-left: 28px;

  background-image: url("../images/header/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
  cursor: pointer;
}

.user-link-num {
  position: absolute;
  top: 5px;
  left: -15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;

  font-size: 14px;
  line-height: 20px;

  background-color: var(--basic-white);
  border-radius: 50%;
}

.user-item:nth-last-child(2) {
  margin-left: auto;
}

.navigation-link {
  font-weight: 800;
  line-height: 21px;
  font-family: var(--font-raleway);
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.navigation-link-active {
  padding-bottom: 4px;

  border-bottom: 2px solid var(--basic-black);
}

.submenu-link-active {
  padding-bottom: 2px;

  border-bottom: 2px solid var(--basic-black);
}

.navigation-link:hover,
.submenu-link:hover {
  opacity: 0.6;
}

.navigation-link:active,
.submenu-link:active {
  opacity: 0.3;
}

.navigation-link:focus,
.submenu-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.navigation-item-catalog {
  position: relative;

  margin-right: auto;
}

.navigation-link-catalog {
  position: relative;

  display: flex;
  align-items: center;
  width: 293px;
  height: 50px;
}

.navigation-link-catalog:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.navigation-item-catalog span {
  position: absolute;
  top: 0;
  left: 243px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  border: 2px solid var(--basic-black);
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-item-catalog:hover span,
.navigation-item-catalog:active span {
  opacity: 1;
}

.navigation-link-catalog span::after {
  content: "";

  display: flex;
  width: 16px;
  height: 2px;

  background-color: var(--basic-black);
}

.navigation-link-catalog span::before {
  content: "";
  position: absolute;

  display: flex;
  width: 2px;
  height: 16px;

  background-color: var(--basic-black);
}

.submenu {
  display: none;
}

.submenu-list {
  width: 211px;
}

.submenu-list:first-child {
  width: 222px;
}

.navigation-item-catalog-active,
.navigation-link-catalog:hover + .submenu {
  position: absolute;
  z-index: 1;

  display: flex;
  width: 1160px;
  margin-left: -60px;
  padding: 22px 0 21px 60px;

  background-color: var(--special-yellow-light);

  gap: 30px;
}

.navigation-link-catalog:hover span::before {
  display: none;
}

.submenu-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
}

/* MAIN */
main {
  flex-grow: 1;
}

/* SLIDER */
.slider-container {
  position: relative;

  margin-top: -20px;
  margin-bottom: 70px;

  background-image: linear-gradient(
    var(--special-yellow-light) 133px,
    transparent 133px
  );
}

.slider-content::before {
  content: "01";
  z-index: -1;

  display: block;
  margin-top: 64px;
  margin-right: 49px;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: var(--basic-white);
}

.slider-title {
  margin-top: 10px;
  margin-bottom: 29px;
}

.slider-text {
  margin: 0;
  margin-bottom: 50px;
}

.slider-button {
  width: 220px;
  margin-bottom: 50px;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.slider-arrows {
  position: absolute;
  top: 211px;
  left: 30px;

  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-arrow {
  display: block;
  width: 20px;
  height: 60px;

  background-color: transparent;
  background-image: url("../images/slider/slider-arrow.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-arrow:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.slider-arrow:disabled {
  cursor: auto;
  opacity: 0.1;
}

.slider-bullets {
  margin-top: -56px;
}

.bullets-list {
  display: flex;
  justify-content: center;

  gap: 20px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.bullets-link-active {
  background-color: var(--basic-black);
}

.bullets-link:hover {
  opacity: 0.6;
}

.bullets-link:active {
  opacity: 0.3;
}

.bullets-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.bullets-link:disabled {
  background-color: transparent;
  cursor: auto;
  opacity: 0.1;
}

.bullets-link-active:disabled {
  border: none;
}

.slider-arrow-next {
  transform: rotateY(180deg);
}

.slider-params {
  display: flex;
  margin: 0;
  margin-bottom: 26px;

  gap: 20px;
}

.slider-params-item {
  display: flex;
  flex-direction: column-reverse;
}

.slider-value {
  margin: 0;
  margin-bottom: 12px;

  font-size: 36px;
}

.slider-key {
  font-size: 16px;
}

/* CATEGORIES */
.categories-container {
  margin-bottom: 70px;
}

.categories-list {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}

.categories-link {
  position: relative;

  display: block;
  min-height: 253px;
  padding-top: 192px;

  font-weight: 800;
  line-height: 24px;
  font-family: var(--font-raleway);
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: -0.36px;
}

.categories-link::before {
  content: "";
  position: absolute;
  top: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-color: var(--special-yellow-light);
  background-repeat: no-repeat;
  background-size: 160px 160px;
}

.categories-link:hover::before {
  background-color: var(--special-yellow-dark);
}

.categories-link:active {
  opacity: 0.3;
}

.categories-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.categories-link-vr::before {
  background-image: url("../images/categories/categories-vr.svg");
}

.categories-link-monopodes::before {
  background-image: url("../images/categories/categories-monopode.svg");
}

.categories-link-cameras::before {
  background-image: url("../images/categories/categories-camera.svg");
}

.categories-link-bracelets::before {
  background-image: url("../images/categories/categories-fitness-bracelets.svg");
}

.categories-link-smartwatches::before {
  background-image: url("../images/categories/categories-smartwatch.svg");
}

.categories-link-quadrocopters::before {
  background-image: url("../images/categories/categories-quadrocopters.svg");
}

/* SERVICES */
.services {
  background-image: linear-gradient(
    transparent 102px,
    var(--basic-light) 102px,
    var(--basic-light) 100%
  );
}

.services-container {
  display: grid;
  margin-bottom: 70px;
  padding-bottom: 72px;

  grid-template-columns: 287px 1fr;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  padding: 64px 0 65px 0;

  border-right: 7px solid var(--basic-black);

  gap: 34px;
}

.services-tab-link-active {
  padding: 9px 0 10px 0;

  color: var(--special-yellow-light);

  background-color: var(--basic-black);
  border: none;
}

.services-tab-item-active {
  background-color: var(--basic-black);
}

.services-tab-link {
  width: 160px;
}

.services-content-item {
  display: none;
}

.services-content-item-active {
  display: block;
  padding: 73px 0 73px 116px;

  background-repeat: no-repeat;
  background-position: 674px 50%;
}

.services-content-item-delivery {
  background-image: url("../images/services-delivery.svg");
}

.services-content-item-guarantee {
  background-image: url("../images/services-guarantee.svg");
}

.services-content-item-credit {
  background-image: url("../images/services-credit.svg");
}

.services-title {
  margin-bottom: 34px;
}

.services-text {
  max-width: 480px;
  margin: 0;
}

/* DELIVERY */
.delivery {
  margin-bottom: 68px;
}

.delivery-link {
  position: relative;

  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 39px 0;

  font-size: 20px;
  line-height: 23px;
  font-family: var(--font-raleway);
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  background-color: var(--basic-light);
}

.delivery-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  width: 125px;
  height: 100%;

  background-color: var(--special-yellow-light);
  background-image: url("../images/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.delivery-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  width: 125px;
  height: 100%;

  background-color: transparent;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: 49% 48%;
}

.delivery-link span {
  position: absolute;
  top: 29px;
  right: 43px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-link:hover::before {
  background-color: var(--special-yellow-dark);
}

.delivery-link:hover::after {
  background-image: url("../images/tooltip-hover.svg");
}

.delivery-link:active {
  opacity: 0.3;
}

.delivery-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

/* ABOUT */
.about-company-container {
  display: grid;
  margin-bottom: 68px;

  gap: 95px;
  grid-template-columns: repeat(2, 1fr);
}

.about,
.contacts {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.about-title::before,
.contacts-title::before {
  content: "";

  display: block;
  width: 84px;
  height: 7px;
  margin-bottom: 40px;

  background-color: var(--basic-black);
}

.about-title,
.contacts-title {
  margin-bottom: 18px;
}

.about-description,
.contacts-description {
  max-width: 500px;
  margin: 0;
}

.about-description {
  color: var(--basic-dark);
}

.address-title {
  margin-bottom: 15px;

  letter-spacing: 0.36px;
}

.about-list {
  display: flex;
  flex-direction: column;

  gap: 19px;
}

.about-item {
  position: relative;

  padding-left: 37px;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: var(--special-yellow-dark);
  border-radius: 50%;
}

.about-button {
  width: 270px;
}

/* CONTACTS */
.contacts-description {
  color: var(--basic-dark);
}

.contacts-info {
  font-style: normal;
}

.address-title,
.contacts-worktime-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
}

.contacts-worktime-title {
  margin-bottom: 15px;
}

.address-description,
.contacts-worktime-description {
  margin: 0;

  color: var(--basic-dark);
}

.address-phone {
  color: var(--basic-dark);
}

.contacts-button {
  width: 260px;
}

/* SUBSCRIBE */
.subscribe {
  padding: 64px 0 58px 0;

  background-color: var(--basic-light);
}

.subscribe-container {
  display: grid;

  gap: 144px 50px;
  grid-template-columns: repeat(4, 1fr);
}

.subscribe-title {
  grid-area: 1 / 1 / 2 / 2;
}

.subscribe-form {
  display: grid;
  max-width: 810px;

  grid-area: 2 / 1 / 3 / 4;
  grid-template-columns: 1fr auto;
}

.subscribe-description {
  color: var(--basic-dark);

  grid-area: 1 / 3 / 2 / 5;
}

.subscribe-input {
  width: 557px;

  color: var(--basic-dark);
}

.subscribe-input::placeholder {
  color: var(--basic-dark);

  opacity: 0.5;
}

.subscribe-submit {
  width: 253px;
}

.subscribe-hint {
  color: var(--basic-dark);

  grid-area: 2 / 4 / 3 / 5;
}

/* CATALOG */
.catalog {
  background-color: var(--basic-light);
}

.catalog-container {
  display: grid;

  grid-template-columns: auto 1fr;
}

/* CATALOG-HEADER */
.catalog-header {
  padding: 35px 0;
}

.catalog-header-container {
  padding: 0 60px;
}

.catalog-header-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  gap: 5px 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;
}

.breadcrumbs-item {
  position: relative;

  line-height: 20px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -21px;

  display: block;
  width: 4px;
  height: 7px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-size: 4px 7px;
}

/* FILTER */
.filter {
  padding: 23px 56px 25px 60px;
}

.filter-form {
  display: flex;
  flex-direction: column;

  gap: 35px;
}

.filter-group {
  padding: 0;

  border: none;
}

.filter-title,
.sort-title {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--font-raleway);
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.filter-title {
  margin-bottom: 35px;
  padding-bottom: 25px;
}

.filter-group-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-group-title::before {
  content: "";

  display: block;
  width: 200px;
  height: 2px;
  margin-bottom: 12px;

  background-color: var(--basic-black);
}

.range-value {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-label-text {
  font-size: 16px;
  line-height: 20px;
}

/* SORTING */
.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-select {
  width: 141px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
}

/* CATALOG-PRODUCTS */
.catalog-products {
  padding: 70px 40px 78px 40px;

  background-color: var(--basic-white);
}

.catalog-list {
  display: grid;
  margin-bottom: 44px;

  gap: 44px 40px;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-title {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  letter-spacing: -0.36px;
}

.catalog-description {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.catalog-link {
  display: block;

  text-decoration: none;
}

.catalog-price {
  line-height: normal;
  color: var(--basic-dark);
}

.catalog-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-image {
  position: relative;

  margin-bottom: 32px;
}

.catalog-image-button {
  position: absolute;

  display: none;
}

.catalog-more {
  margin-bottom: 44px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  background-color: var(--basic-light-gray);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-dark);
  text-decoration: none;

  opacity: 0.3;
}

.pagination-link-current {
  opacity: 0.6;
}

.pagination-button {
  padding: 10px;

  font-weight: 800;
  line-height: normal;
  font-family: var(--font-raleway);
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;

  opacity: 1;
}

.pagination-button-next {
  padding: 7px;
}

.pagination-button-disabled {
  opacity: 0.3;
}

/* FOOTER */
.footer {
  padding: 62px 0;

  background-color: var(--basic-dark);
}

.footer-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.footer-content {
  display: grid;
  align-items: start;

  gap: 50px 20px;
  grid-template-columns: 260px 1fr 260px;
}

.footer-contacts {
  text-align: right;
}

.footer-address-description {
  margin: 0;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-address-description::after {
  content: "";

  display: block;
  width: 80px;
  height: 7px;
  margin-top: 64px;

  background-color: var(--special-yellow-dark);
}

.footer-navigation-list {
  justify-content: center;
  margin-bottom: 57px;

  gap: 32px;
}

.footer .navigation-link {
  color: var(--basic-white);
}

.footer .navigation-link:hover {
  padding-bottom: 4px;

  color: var(--special-yellow-dark);

  border-bottom: 2px solid var(--special-yellow-dark);
  opacity: 1;
}

.footer .navigation-link:active {
  padding-bottom: 4px;

  color: var(--special-yellow-dark);

  border-bottom: 2px solid var(--special-yellow-dark);
  opacity: 0.3;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 15px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--special-yellow-dark);
}

.social-link:active {
  background-color: var(--special-yellow-dark);
}

.social-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.social-link-telegram {
  background-image: url("../images/social/telegram.svg");
}

.social-link-telegram:active {
  background-image: url("../images/social/telegram-active.svg");
}

.social-link-youtube {
  background-image: url("../images/social/youtube.svg");
}

.social-link-youtube:active {
  background-image: url("../images/social/youtube-active.svg");
}

.social-link-twitter {
  background-image: url("../images/social/twitter.svg");
}

.social-link-twitter:active {
  background-image: url("../images/social/twitter-active.svg");
}

.footer-contact-link {
  display: inline-block;
  margin-bottom: 64px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-contact-link:hover {
  color: var(--special-yellow-dark);
}

.footer-contact-link:active {
  color: var(--special-yellow-dark);

  opacity: 0.3;
}

.footer-contact-link:focus {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.footer-author-image {
  width: 115px;
  height: 33px;

  fill: var(--special-yellow-dark);
}

.footer-author-image:hover {
  fill: var(--basic-white);
}

.footer-author-image:active {
  opacity: 0.3;

  fill: var(--basic-white);
}

.footer-author-link:focus .footer-author-image {
  outline: 2px solid var(--special-purple);
  outline-offset: 2px;
}

.footer-author-link {
  outline: none;
}
